<!-- Admin or @user logic -->
<% if current_user.admin? %>

	<div class="container">

	<%= simple_form_for :search, url: users_path, method: "GET", remote: true do |f| %>
	<button onclick="myFunction()" class=filter-btn>Filters</button>
		
  <%= link_to users_path do %>
  	<i class="fas fa-redo-alt"></i>
	<% end %>
	
	<!-- Filter card -->
	<div class="filter-card" id="myDIV" style="display: none;">
    <div class="filter-btn-container">
      <div class="filter-btn-item">
        <%= f.input :active_member, label: "Active",  collection: [true, false], as: :check_boxes %>
      </div>
      
      <div class="filter-btn-item">
        <%= f.input :sex, label: "Sex", collection: @sex, as: :check_boxes %>
      </div>

      <!-- <div class="filter-btn-item"> -->
        <%#= f.input :belt, label: "Promtn",  collection: ["> 6m", "> 9m", "> 12m"], as: :check_boxes %>
      <!-- </div> -->

      <!-- <div class="filter-btn-item"> -->
        <%#= f.input :weight, label: "Weight", collection: @weights, as: :check_boxes %>
      <!-- </div> -->

      <!-- <div class="filter-btn-item"> -->
        <%#= f.input :height, label: "Height", collection: @heights, as: :check_boxes %>
      <!-- </div> -->

      <div class="filter-btn-item">
        <%= f.input :belt, label: "Belt",  collection: @belt_colours, as: :check_boxes %>
      </div>

			<div class="filter-btn-item">
        <%= f.submit "Search", hidden: true, class: "btn btn-primary" %>
    	</div>
    </div>
  </div>
  <% end %>

	<!-- Search bar -->
	<%= simple_form_for :search, url: users_path, method: :get do |f| %>
	  <div class="search-form-control form-group">
			<%= text_field_tag :query,
		    params[:query],
		    class: "form-control string required",
		    type: "text",
		    id: "search_query",
		    placeholder: "Find a user (#{@users.count})"
	  	%>
	    <button name="button" type="submit" class="btn btn-primary">
	      <i class="fas fa-search"></i> Search
	    </button>
	  </div>
	<% end %>

	<script>
	function myFunction() {
	  var x = document.getElementById("myDIV");
	  if (x.style.display === "none") {
	    x.style.display = "block";
	  } else {
	    x.style.display = "none";
	  }
	}
	</script>

  <div id="users">
  	<div>
    <%= render 'user', users: @users %>
    </div>
  </div>
	<br>
	<br>
		
	<!-- Old sortable logic -->
	<!-- 	<div class="sort-btn-container">

			<div class="sort-btn-item">
				<p class="sort-btn"><%#= sortable "first_name" %></p>
			</div>
			<div class="sort-btn-item">
				<p class="sort-btn"><%#= sortable "last_name" %></p>
			</div>
			<div class="sort-btn-item">
				<p class="sort-btn"><%#= sortable "started" %></p>
			</div>

			<div class="sort-btn-item">
				<p class="sort-btn"><%#= sortable "sex" %></p>
			</div>

			<div class="sort-btn-item">
				<p class="sort-btn"><%#= sortable "weight" %></p>
			</div>

			<div class="sort-btn-item">
				<p class="sort-btn"><%#= sortable "height" %></p>
			</div>

			<div class="sort-btn-item">
				<p class="sort-btn"><%#= sortable "active_member", "Active" %></p>
			</div>

			<div class="sort-btn-item">
				<p class="sort-btn"><%#= sortable "admin" %></p>
			</div>

			<div class="col">
				<p class="sort-btn"><%#= sortable "promoted_at" %></p>
			</div>

		</div> -->
	
<!-- Admin or @user logic -->
<% else %>
	<h2>No Access</h2>
	<p>This page is an admin-only page.</p>

	<%= link_to "Your Profile", user_path(current_user), class: "btn btn-primary" %>
	<%= link_to "Home Page", root_path, class: "btn btn-primary" %>
<% end %>






















