<div class="container">
	
	<!-- Search bar -->
	<%= simple_form_for :search, url: users_path, method: :get do |f| %>
	  <div class="search-form-control form-group">
			<%= text_field_tag :query,
		    params[:query],
		    class: "form-control string required",
		    type: "text",
		    id: "search_query",
		    placeholder: "Find a user"
	  	%>
	    <button name="button" type="submit" class="btn btn-primary">
	      <i class="fas fa-search"></i> Search
	    </button>
	  </div>
	<% end %>

	<!-- Titles for cards -->
	<div class="row align-items-center mt-1">
		
		<div class="col-2 py-3">
	      <strong></strong>
	   </div>
		<div class="col-4 py-3 border-right">
	      <strong>First Name</strong>
	   </div>
	   <div class="col-3 py-3 border-right">
	      <strong>Last Name</strong>
	   </div>
	   <div class="col-3 py-3">
	      <strong>Belt</strong>
	   </div>
	   
	</div>

	<!-- User cards -->
	<% @users.each do |user| %>
		<%= link_to user_path(user) do %>
	  <div class="row align-items-center mt-1 border bg-light">
	    
	    <div class="col-2 user-avatar">
	      <% if user.photo.attached? %>
	         <%= cl_image_tag user.photo.key, :transformation=>[
	            {:width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"thumb"},
	            {:width=>200, :crop=>"scale"}
	            ], 
	            class: "avatar", alt: "avatar" %>
	      <% else %>
					<div class="default-avatar">
						<%= image_tag "default_avatar_square.png", class: "avatar", alt: "avatar" %>
					</div>
	      <% end %>
	    </div>
	    <div class="col-4 py-3 border-right">
	      <%= user.first_name %>
	    </div>
	    <div class="col-3 py-3 border-right">
	      <%= user.last_name %>
	    </div>
	    <div class="col-3 py-3">
	      <%= user.belt %>
	    </div>
	  
	  </div>
	  <% end %>
  <% end %>

</div>



