<div class="container">
	
	<!-- Admin or @user logic -->
	<%# if current_user == @user || current_user.admin? %>

		<!-- Icons edit & delete top -->
		<%= render 'users/shared_show/icons_edit_delete' %>
		<!-- Card with name, avatar and email -->
		<%= render 'users/shared_show/profile_card'%>
		<br>
		
		<!-- Profile cards -->
		<div class="row row-cols-1 row-cols-md-2">
		  <!-- Card personal details -->
		  <%= render 'users/shared_show/personal_details' %>
			<!-- Club affilitation -->
			<%= render 'users/shared_show/club_affiliation' %>
			<!-- BJJ level -->
			<%= render 'users/shared_show/bjj_level' %>
		  <!-- Measurements -->
			<%= render 'users/shared_show/measurements' %>
			<br>
	 	</div>
		
		<%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-warning px-4" %>
		<%= link_to "Delete Profile", user_path(@user),
		      method: :delete,
		      data: { confirm: "Are you sure you want to delete user ##{@user.id} - #{user_name}?" },
		      class: "btn btn-danger" %>
		<br>
		<br>

		<!-- Comments cards -->

		<div class="comments"><h4 class="ml-3"><strong>Comments</strong></h4>
			<% if policy(@user.comments).new? %>
				<div class="add-comment">
					<%= link_to new_user_comment_path(@user, @comment), class: "btn" do %>
						<i class="fas fa-plus-square"></i>
					<% end %>
				</div>
			<% end %>
		</div>

		<% if @user.comments.empty? %>
			<p><%= "No comments yet" %></p>
		<% else %>
			<% @user.comments.each do |comment| %>
				<div class="row row-cols-1 row-cols-sm-1">
					<div class="col mb-4">
						<div class="card border-0 b rounded-lg shadow-sm comment-card">
							
							<div class="card-body">
								<h5><strong><%= comment.category %>:</strong></h5>
								<p><%= comment.content %></p>
								
								<div class="comment-actions">
									<!-- Edit button -->
									<% if policy(comment).edit? %>
										<div class="icon-edit">
										<%= link_to edit_user_comment_path(comment.user, comment), class: "btn" do %>
										  <i class="fas fa-edit"></i>
										<% end %>
										</div>
									<% end %>
								
									<!-- Delete button -->
									<% if policy(comment).destroy? %>
										<div class="icon-delete">
											<%= link_to user_comment_path(comment.user, comment),
											      method: :delete,
											      data: { confirm: "Are you sure you want to delete this comment?" },
											      class: "btn" do %>
													<i class="fas fa-trash-alt"></i>
											<% end %>
										</div>
									<% end %>
								</div>

							</div>	
						
							<!-- Updated on: -->
							<div class="updated-at comments-standalone">
									<p id="updated-standalone">Updated on: <%= comment.updated_at.strftime("%d.%m.%Y") %></p>
							</div>

						</div>
					</div>
				</div>
			
			<% end %>
		<% end %>
		<%# end %>

	
	<!-- Admin or @user logic -->
	<%# else %>
		<!-- <h2>No Access</h2> -->
		<!-- <p>This is someone else's profile.</p> -->

		<%#= link_to "Your Profile", user_path(current_user), class: "btn btn-primary" %>
		<%#= link_to "Home Page", root_path, class: "btn btn-primary" %>
	<%# end %>
	<!-- Admin or @user logic -->
	<br>
	<br>
</div>



  <!-- not_active_why:													(string) -->

  <!-- email:																		(string) -->
  <!-- encrypted_password:											(string) -->
  <!-- reset_password_token:										(string) -->
  <!-- reset_password_sent_at: 									(datetime) -->
  <!-- remember_created_at:											(datetime) -->
  <!-- created_at: 															(datetime) -->
  <!-- updated_at:															(datetime) -->
  <!-- admin: 																	(boolean) -->
  <!-- first_name: 															(string) -->
  <!-- last_name:																(string) -->
  <!-- date_of_birth:														(date)	 -->
  <!-- phone:																		(string) -->
  <!-- started:																	(date) -->
  <!-- weight:  																(integer) -->
  <!-- height:																	(integer) -->
  <!-- weight_good: 														(boolean) -->
  <!-- reasons_for_weight:											(string) -->
  <!-- active_member: 													(boolean) -->
  <!-- not_active_why:													(string) -->
  <!-- belt:																		(string) -->
  <!-- last_promotion:													(date) -->







