<!-- Check if promotion date was manually added -->
<% if @user.promotions.empty? %>
	<% last_promotion = "No belt assigend yet" %>
<% elsif @user.promotions.last.promoted_at == nil %>	
	<% last_promotion = @user.promotions.last.created_at %>
<% else %>
	<% last_promotion = @user.promotions.last.promoted_at %>
<% end %>

<!-- Difference between promotions -->
<% if @user.promotions.empty? %>
	<% date_difference_promotion = 0 %>
<% else %>
	<% date_difference_promotion = (Date.today.year * 12 + Date.today.month) - (last_promotion.year * 12 + last_promotion.month) %>
<% end %>

<!-- Where does user stand on belts array in application controller -->
<% if @user.promotions.empty? %>
	<% current_belt_index = 0 %>
<% else %>
	<% current_belt_index = @belts.index(@user.promotions.last.belt) %>
<% end %>

<div class="container">
  <div class="row">

		<!-- Promotion form card -->
		<div class="col mb-4">
	    <div class="card border-0 bg-secondary rounded-lg shadow-sm">
	      <div class="card-body">
				
					<% if @user.promotions.empty? %>

						<h5 class="card-title">Add your current belt</h5>
						
						<%= simple_form_for [@user, @promotion] do |f| %>
						
						<p class="card-text">
							<%= f.label "Current belt:" %>
							<%= f.input :belt, collection: @belts, label: false %>
						</p>
						
						<%= f.button :submit, "Add belt", class: "btn btn-primary" %>
						<% end %>

					<% else %>

		        <h5 class="card-title">Promote <strong><%= @user.first_name %> <%= @user.last_name %></strong></h5>
		        <br>
		        <h6>Promotions so far:</h6>
		        <div class="promotions-container">
		        	<% if @user.promotions.empty? %>
		        		<p><%= "No promotions yet at BJJ Berlin" %></p>
		        	<% else %>
			        	<% @user.promotions.reverse.drop(1).reverse.each do |promotion| %>
				        	<div class="promotions">
				        		<div class="promotion-belt"><%= promotion.belt.upcase %> -
				        		</div> 
				        		<div class="promotion-date">
				        			<% if promotion.promoted_at == nil %>
				        				<%= promotion.created_at.strftime("%d.%m.%Y") %>
				        			<% else %>
				        				<%= promotion.promoted_at %>
				        			<% end %>		
				        		</div>
				        	</div>
			        	<% end %>
			        <% end %>
			    		
				    	<% if date_difference_promotion.to_i > 6 %>
				    		<!-- Show last promotion in red if older than 6 months -->
				        <div class="promotions promotions-last red">
				        	<div class="promotion-belt"><%= @user.promotions.last.belt.upcase %> -
				        	</div> 
				        	<div class="promotion-date">
				        		<%= last_promotion.strftime("%d.%m.%Y") %>
				        	</div>
				        </div>
			        <% else %>
				    		<!-- Show last promotion in green if younger than 6 months -->
								<div class="promotions promotions-last green">
				        	<div class="promotion-belt"><%= @user.promotions.last.belt.upcase %> -
				        	</div> 
				        	<div class="promotion-date">
				        		<%= last_promotion.strftime("%d.%m.%Y") %>
				        	</div>
				        </div>	
							<% end %>
			        </div>

		        <p class="card-text">
		        	Last promotion 
		        	<% if @user.promotions.empty? %>
								<span class="n-a"><%= "n/a" %></span>
							<% else %>
								<% if date_difference_promotion.to_i > 6 %>
		        			<strong class="red"><%= @user.date_diff(last_promotion, Date.today) %></strong>
		        		<% else %>
		        			<strong class="green"><%= @user.date_diff(last_promotion, Date.today) %></strong>
		        		<% end %>
		        		ago
							<% end %>
			      </p>

			      <%= simple_form_for [@user, @promotion] do |f| %>
						
						<%= f.label "Promotion date: *" %>
						<%= f.date_field :promoted_at %>
						<p class="info">* This field is not mandatory. Default date is today.</p>
						
						<%= f.button :submit, "Promote #{@user.first_name}", class: "btn btn-primary" %>
						<% end %>
						<br>

						<div class="info-next-promotion">
							<i class="fas fa-long-arrow-alt-right"></i>
							<p>This will promote <%= @user.first_name %> to <strong><%= @belts[current_belt_index + 1] %></strong></p>
						</div>
		      
					<% end %>

	      </div>
	    </div>
	  </div>

  </div>  
</div>